In [1]:
import pandas as pd
import gmaps
import time
from ipython_config import gkey
from IPython.display import display
from IPython.display import clear_output

In [2]:
%matplotlib inline
gmaps.configure(api_key=gkey)

In [4]:
data1 = pd.read_csv('../Data Analysis/Resources/countycenter.csv')
data2 = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [5]:
county=pd.DataFrame(data1)
county['fips']=county['STATEFP']*1000+county['COUNTYFP']
county.head()

   STATEFP  COUNTYFP  COUNAME   STNAME  POPULATION   LATITUDE  LONGITUDE  fips
0        1         1  Autauga  Alabama       54571  32.500389 -86.494165  1001
1        1         3  Baldwin  Alabama      182265  30.548923 -87.762381  1003
2        1         5  Barbour  Alabama       27457  31.844036 -85.310038  1005
3        1         7     Bibb  Alabama       22915  33.030921 -87.127659  1007
4        1         9   Blount  Alabama       57322  33.955243 -86.591491  1009

In [6]:
covid = pd.DataFrame(data2)
# covid['days']=
covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [7]:
df=pd.merge(covid,county,on='fips',how='left')
df=df.dropna()
df['cases per']=df['cases']*10000/df['POPULATION']
df=df.sort_values('cases per',ascending =False)
df2 = df.loc[df['state']=='North Carolina']
df2.head()

,date,county,state,fips,cases,deaths,STATEFP,COUNTYFP,COUNAME,STNAME,POPULATION,LATITUDE,LONGITUDE,cases per
58232,2020-04-14,Northampton,North Carolina,37131.0,63,0,37.0,131.0,Northampton,North Carolina,22099.0,36.431948,-77.434731,28.508077
55532,2020-04-13,Northampton,North Carolina,37131.0,61,0,37.0,131.0,Northampton,North Carolina,22099.0,36.431948,-77.434731,27.603059
52847,2020-04-12,Northampton,North Carolina,37131.0,61,0,37.0,131.0,Northampton,North Carolina,22099.0,36.431948,-77.434731,27.603059
50174,2020-04-11,Northampton,North Carolina,37131.0,60,0,37.0,131.0,Northampton,North Carolina,22099.0,36.431948,-77.434731,27.150550
47520,2020-04-10,Northampton,North Carolina,37131.0,55,0,37.0,131.0,Northampton,North Carolina,22099.0,36.431948,-77.434731,24.888004

In [8]:
dates = df2['date'].value_counts()
dates=dates.sort_index()
len(dates.index)

43

In [9]:
y=0
for x in dates.index:
    y=y+1
    if y>2:
        test = y%2
        if test==0:
            day_df = df2.loc[df['date']==x]
            heatmap_layer = gmaps.heatmap_layer(day_df[['LATITUDE', 'LONGITUDE']], weights=day_df['cases'],dissipating=False,
            max_intensity=100, point_radius=0.25)
            fig = gmaps.figure(center=(35.7596, -79.0193),zoom_level=7)
            fig.add_layer(heatmap_layer)
            display(fig)
            time.sleep(5)

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

KeyboardInterrupt:

In [11]:
fig

Figure(layout=FigureLayout(height='420px'))